tr.completed {
  background-color: #c4ffbd
}

a {
  color: rgb(253, 254, 255);
  text-decoration: none;
}
a:hover {
   color: rgb(159, 159, 255);
   text-decoration: none;
}
.task {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
}

.task button {
  margin-top: 8px;
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

